@page
@model SocialStock.Pages.NewsModel
@{
}
<header class="py-3 mb-3 border-bottom sticky-top gradientHeader">
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 px-0">
                <a href="/" class="link-dark text-decoration-none" aria-expanded="false">
                    <img src="~/SocialStockLogo.png" class="img-fluid" />
                </a>
            </div>

            <div class="d-flex align-items-center col-10">
                <form action="/DashBoard" method="get" class="w-100 me-3">
                    <input type="text" input id="CompanySymbol" name="CompanySymbol" class="form-control" placeholder="Search..." aria-label="Search">
                </form>
            </div>
        </div>
    </div>
</header>
<br />
@if(Model.news != null){
<div class="container">
    <div class="row gx-md-5">
        <div class="col">
            <div class="p-6 border .bg-transparent rounded border border-light">
                <div class="container">
                    <br />
                    <h3 style="text-align:center; color:white;">In News</h3>
                    <br />
                    @{
                        int count = Model.news.Count();
                        int i = 0;
                    }
                    @while (i < count)
                    {

                        <div class="row" style="padding-bottom: 50px;">
                            @for (int j = 0; j < 4; j++)
                            {
                                <div class="col-md-3">
                                    <div class="card">
                                        @if (Model.news[i].Image.Equals(""))
                                        {
                                            Model.news[i].Image = "https://st.depositphotos.com/1020070/3867/v/600/depositphotos_38675085-stock-illustration-business-news-paper-icon.jpg";
                                        }
                                        <img src="@Model.news[i].Image" style="min-height:100%; max-height:100%;" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            @if (@Model.news[i].Headline.Length > 50)
                                            {
                                                string BriefHead = (Model.news[i].Headline.Substring(0, 50) + "...");

                                                <h5 class="card-title"> @BriefHead</h5>
                                            }
                                            else
                                            {
                                                <h5 class="card-title"> @Model.news[i].Headline</h5>
                                            }

                                        </div>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">Source: @Model.news[i].Source</li>
                                            @if (@Model.news[i].Summary.Length > 100)
                                            {
                                                string BriefSummary = (Model.news[i].Summary.Substring(0, 100) + "...");

                                                <li class="list-group-item">@BriefSummary</li>
                                            }
                                            else
                                            {
                                                <li class="list-group-item">@Model.news[i].Summary</li>
                                            }

                                        </ul>
                                        <div class="card-body">
                                            <a class="card-link btn btn-outline-primary" href="@Model.news[i].Url">Go to Source</a>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                i = i + 1;
                                if (i == count)
                                {
                                    break;
                                }

                            }

                        </div>




                    }
                </div>
            </div>
        </div>
    </div>
</div>
}